<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>404 错误</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width">
    <link href="~/favicon.ico" rel="shortcut icon">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>
        <div class="error-desc">
            抱歉，您找的页面不存在
        </div>
    </div>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/content.min.js"></script>
    <script>
        var error = "@ViewData["html"]";
        $(function () {
            $.post("/Log/InsertLogData", {
                filePath: error,
                controllerName: error,
            }, function (data) {
                console.log(data);
            });
        });
    </script>
</body>
</html>
